.h1 {
  font-size: 24px !important;
  text-transform: uppercase !important;
  letter-spacing: 1px !important;
  margin-bottom: 0px !important;
}

h2 {
  font-size: 26px !important;
  text-transform: uppercase !important;
}

h3 {
  font-size: 22px !important;
}

p {
  letter-spacing: 0.3px !important;
}

span {
  letter-spacing: 0.3px !important;
  line-height: 25px;
}

.small-text {
  font-size: 14px !important;
}

.extra-small-text {
  font-size: 12px !important;
}

.bold {
  font-weight: 600 !important;
}

.black {
  color: #1E1E1E !important;
}

.white {
  color: #fff !important;
}

.yellow {
  color: #ffbc26 !important;
}

.grey {
  color: #707e95 !important;
}

.bright-grey {
  color: rgba(255, 255, 255, 0.75);
}

.green {
  color: greenyellow !important;
}

.red {
  color: #eb5757 !important;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 10;
}

.navbar-box {
  color: rgba(255, 255, 255, 0.75) !important;
}

.navbar {
  padding: 0px !important;
}

.nav-link {
  font-weight: 500 !important;
  color: #ffffff !important;
  padding: 0px 8px !important;
  padding-left: 0px !important;
}

.nav-link-box {
  padding: 8px;
}

.nav-link-box:hover {
  /* background-color: #f5a900 !important; */
}

.nav-link-box:focus {
  background-color: #f5a900 !important;
}

.address-head {
  padding: 10px 30px;
  border: 2px solid #ffbc26;
  border-radius: 50px;
  background-color: transparent;
  color: #ffbc26;
}



.address-head-small {
  padding: 4px 12px;
  border: 1px solid #ffbc26;
  border-radius: 50px;
  background-color: transparent;
  color: #ffbc26;
}
.bg-img {
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  background-image: linear-gradient(210deg,#000000 0%,#aa1816 100%)!important;
}

.yellow-btn {
  border: none;
  border-radius: 4px;
  padding: "4px 8px";
  background-color: #ffbc26 !important;
  color: #1E1E1E !important;
  min-height: 35px;
}

.connect-meta-button{
  border: none;
  border-radius: 50px;
  padding: 0px 24px;
  color: #fff !important;
  background-image: linear-gradient(85deg,#e09900 0%,#e02b20 100%)!important;
  height: 44px;
  font-size: 16px;
  font-weight: bold
}

.yellow-btn:hover {
  background-color: #f5a900 !important;
  border: none;
}

.yellow-btn-main {
  padding: 10px 20px;
  border: none;
  background-color: #00E3FF !important;
  color: #1E1E1E !important;
}

.yellow-btn-main:hover {
  background-color: #00CBE5 !important;
  border: none;
}

.border-btn {
  border: 1px solid #ffbc26 !important;
  background-color: transparent !important;
  color: #ffbc26 !important;
}

.border-btn:hover {
  background-color: #ffbc26 !important;
  color: #1E1E1E !important;
}

.cus-btn {
  border: 1px solid #1E1E1E !important;
  background-image: linear-gradient(85deg,#e09900 0%,#e02b20 100%)!important;
  border-radius: 50px;
  font-size: 24px;
  color: #ffffff !important;
}

.cus-btn:hover {
  background-color: #ffbc26 !important;
  color: #1E1E1E !important;
}

.border-btn-blue {
  border: 1px solid #1E1E1E !important;
  background-color: #00E3FF !important;
  color: #1E1E1E !important;
}

.border-btn-blue:hover {
  background-color: #00CBE5 !important;
  color: #1E1E1E !important;
}

.rounded-yellow-btn {
  background-color: #ffbc26;
  border: none;
  border-radius: 80px;
  padding: 6px 30px !important;
}

.rounded-yellow-btn:hover {
  background-color: #f5a900;
}

.grey-btn {
  padding: 10px 20px;
  background-color: #707e95 !important;
  color: white !important;
  border: none;
}

.grey-btn:hover {
  background-color: #64748d !important;
}

.team-circle {
  background-color: white;
  width: 63px;
  height: 63px;
  border-radius: 90px;
  align-items: center;
  padding: 8px;
}

.team-img {
  height: 100%;
}

.border-box {
  border: 2px solid #ffbc26;
  border-radius: 7px;
  background-color: #1E1E1E;
  padding: 20px 17px;
  transition: 0.3s;
}

.border-box:hover {
  transform: scale(1.02);
}

.sort-by {
  border: none;
  padding: 4px 7px;
}

.team-name {
  color: white;
  font-size: 14px;
  line-height: 18px;
}

.yellow-link:hover {
  color: #f5a900;
}

.whatsapp {
  transition: 0.3s;
}

.whatsapp:hover {
  transform: scale(1.03);
}

.balance-box {
  background-color: #1E1E1E;
  color: white;
  padding: 4px 12px;
  font-size: 13px;
  border-radius: 4px;
}

.pool-list {
  background-color: #1E1E1E;
  margin: 9px 0px;
  padding-top: 20px;
  border-radius: 8px;
}

.pool-list:hover {
  background-color: #0a1b34;
}

.small-border-btn {
  padding: 0px;
  padding: 0px 18px;
  border-radius: 20px;
}

.small-border-btn:hover {
  color: #1E1E1E;
  background-color: #ffbc26;
}

.search-input {
  width: 85%;
  padding: 12px 20px;
  height: 47px;
  border: none;
  float: left;
}

.search-btn {
  width: 15%;
  height: 47px;
  float: right;
}

.select-input {
  background-color: #f4f4f5;
  color: #1E1E1E;
  margin-top: 6px;
  margin-bottom: 16px;
  width: 100%;
  height: 45px;
}

.text-input {
  background-color: #f4f4f5;
  margin-top: 7px;
  margin-bottom: 15px;
  padding: 0px 15px;
  width: 100%;
  height: 45px;
  border: none;
}

.float-input {
  float: left;
  width: 85%;
}

.add-btn {
  /* float: right; */
  margin-top: 7px;
  border: none;
  height: 45px;
  width: 15%;
  background-color: #ffbc26 !important;
  color: #1E1E1E !important;
}

.add-btn:hover {
  background-color: #eda400 !important;
}

.text-input:hover {
  background-color: #f0f0f2;
}

.select-input:hover {
  background-color: #f0f0f2;
}

.form-check-input {
  margin-top: 6px !important;
  margin-right: 20px !important;
}

::placeholder {
  color: #8f9aac;
  opacity: 0.9;
}

.add-whitelist-btn {
  background-color: #e8e9ea;
  border: none;
  text-align: center;
  font-size: 25px;
  width: 100%;
}

.add-whitelist-btn:hover {
  background-color: #dddfe2;
}

.whitelist-add {
  background-color: #f9f9f9;
  padding: 8px 20px;
  width: 100%;
  margin-bottom: 5px;
}

.delete {
  color: #bac1cc;
  transition: 0.2s;
  font-size: 18px;
}

.delete:hover {
  transform: scale(1.2);
  color: red;
}

.my-pool-tab-active {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #ffbc26;
  width: 200px;
  text-align: center;
  display: inline;
  text-decoration: none;
}

.my-pool-tab {
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  width: 210px;
  text-align: center;
  color: #707e95;
  display: inline;
}

.tab-hr {
  background-color: #3e3e3e;
  margin-top: 7px;
}

/* Ribbon part */

.parent {
  overflow: hidden; /* required */
  position: relative; /* required  for demo*/
  background-color: #1E1E1E;
}

.ribbon {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background: #ffbc26;
  color: #1E1E1E;
  padding: 1px 8px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}

.ribbon-lose {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  margin: 0;
  padding: 0;
  background: #8f9aac;
  color: #1E1E1E;
  padding: 1px 8px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(30%) translateY(0%) rotate(45deg);
  transform-origin: top left;
}

.ribbon:before,
.ribbon:after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: #ffbc26;
}

.ribbon:before {
  right: 100%;
}

.ribbon:after {
  left: 100%;
}

.ribbon-lose:before,
.ribbon-lose:after {
  content: "";
  position: absolute;
  top: 0;
  margin: 0 -1px; /* tweak */
  width: 100%;
  height: 100%;
  background: #8f9aac;
}
.ribbon-lose:before {
  right: 100%;
}

.ribbon-lose:after {
  left: 100%;
}

*:focus:not(:focus-visible) {
  outline: 0 !important;
  box-shadow: none !important;
}

.body-section {
  padding-top: 150px;
}

.my-bet-table {
  background-color: #f7f7f8;
  padding: 10px 0px;
}

.my-bet-team-logo {
  height: 25px;
  width: auto;
}

.win-team-box {
  border: 2px solid #dfe2e5;
  padding: 10px 30px;
  display: inline-block;
}

@media only screen and (max-width: 600px) {
  .metamask-btn {
    text-align: left !important;
    padding-top: 7px;
    padding-bottom: 12px;
  }

  .logo {
    text-align: left !important;
  }

  .body-section {
    padding-top: 150px;
  }

  .banner-section {
    padding-top: 10px !important;
  }
}

.margin-body-section {
  padding-top: 120px;
}

.width-logo{
  width: 48px;
}

@media (min-width: 576px){
  .margin-body-section {
    padding-top: 150px !important;
  }

  .width-logo{
    width: 64px;
  }
}